

.navbar {
  
  padding: 10px 20px;
  top: 0;
  left: 0;

  width: 100%;
  box-sizing: border-box;

  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  transition: transform 0.4s ease-in-out;
  
}
.navbar.hidden{
  transform: translateY(-100%);
}

.title {
  font-weight: bold;
  font-size: 3rem;
  color: rgb(17, 29, 84);
  cursor: pointer; 
  transition: transform 0.3s ease;
}

.title:hover {
  transform: scale(1.05);
}

.search-container {
  flex: 1; 
  display: flex;
  justify-content: center; 
  padding: 0 20px; 
}

.search-bar {
  width: 50%;
  padding: 10px 20px;
  border: 0.15em solid black;
  border-radius: 20px; 
  background-color: aliceblue;
  color: rgb(17, 29, 84);
  outline: none;
  transition: all 0.3s ease;
}

.search-bar:focus {
  width: 60%; 
  border-color: rgb(17, 97, 100);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar .mobile-icons{
  display: none;
}

.nav-btns {
  display: flex; 
}

.navbar button{
  font-size: 20px;
  color: rgb(17, 29, 84);
  background-color: aliceblue;
  border: 0.15em solid black;
  border-radius: 0.7em;
  margin: 0.3em 0.25em;
  outline: none;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
  cursor: pointer;
}

.navbar button:hover {
  background-color: rgb(17, 97, 100);
  color: white; 
  transform: scale(1.3);
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.8);
}

@media (max-width: 768px){
  .navbar .menu{
    display: block;
    padding: 0.2em;
    
  }
  .navbar .mobile-icons{
    display: flex;
    gap: 15px;
  }
  .search-container{
    position: absolute; 
    top: 100%; /* Drops it exactly below the bottom edge of the navbar */
    right: 0;   /* Aligns it to the far left */
    width: 50%; /* Spans the whole screen */
    z-index: 10; /* Ensures the menu floats on top of other website content */
    display: flex;
    flex-direction: column;
    max-height: 0;
    overflow: hidden;
    justify-content: center;
    transition: all 0.5s ease;
  }
  .search-container.active{
    max-height: 300px;
    padding: 15px 0;
  }



  .navbar button:hover {
    transform: none; /* Stops the button from growing and breaking the screen! */
    
    /* We keep the color changes so it still reacts when tapped */
    background-color: rgb(17, 97, 100);
    color: white; 
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2); /* Keep the shadow tame */
  }
  .nav-btns{
    position: absolute; 
    top: 100%; /* Drops it exactly below the bottom edge of the navbar */
    right: 0;   /* Aligns it to the far left */
    width: 50%; /* Spans the whole screen */
    z-index: 10; /* Ensures the menu floats on top of other website content */
    display: flex;
     flex-direction: column;
     max-height: 0;
     overflow: hidden;
     transition: all 0.5s ease;
  }
  
  .nav-btns.active{
    max-height: 300px;
  }
  
}