.navbar {
  padding: 20px 40px; 
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;


  background-color: rgba(255, 255, 255, 0.85); 
  backdrop-filter: blur(10px); 
  border-bottom: 1px solid rgba(0, 0, 0, 0.05); 

  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  transition: transform 0.4s ease-in-out;
}
.navbar.hidden{
  transform: translateY(-100%);
}

.title {
  font-weight: bold;
  font-size: 3rem;
  color: rgb(17, 29, 84);
  cursor: pointer; 
  transition: transform 0.3s ease;
}

.title:hover {
  transform: scale(1.1);
}



.navbar .mobile-icons{
  display: none;
}

.nav-btns {
  display: flex; 
}


.nav-btns button, 
.nav-btns a {
  font-size: 18px;
  font-weight: 500;
  color: rgb(17, 29, 84);
  text-decoration: none; 
  
  display: inline-block;
  
  background-color: transparent;
  border: none;
  box-shadow: none;
  
  margin: 0 15px;
  outline: none;
  cursor: pointer;
  transition: all 0.3s ease;
}


.nav-btns button:hover, 
.nav-btns a:hover {
  opacity: 0.5;
  transform: scale(1.3);
}


.navbar .mobile-icons .menu {
  background: transparent;
  border: none;
  box-shadow: none;
  font-size: 28px; 
  color: rgb(17, 29, 84);
}
@media (max-width: 768px){
  .navbar {
    padding: 15px 20px; 
  }

  .navbar .menu{
    display: block;
    padding: 0.2em;
  }
  
  .navbar .mobile-icons{
    display: flex;
    gap: 15px;
  }

  .nav-btns {
    position: absolute; 
    top: 100%; 
    right: 0;   
    width: 50%; 
    background-color: white; 
    border-bottom-left-radius: 10px;
    border-left: 1px solid rgba(0,0,0,0.05); 
    border-bottom: 1px solid rgba(0,0,0,0.05);
    
    z-index: 10; 
    display: flex;
    flex-direction: column;
    max-height: 0;
    overflow: hidden;
    transition: all 0.5s ease;
  }
  
  .nav-btns.active {
    max-height: 300px;
    padding: 10px 0; 
  }


  .nav-btns button, 
  .nav-btns div {
    margin: 10px 0;
    text-align: center;
  }
  .nav-btns button:hover, 
  .nav-btns a:hover {
    transform: none;
  }
}